language: node_js

services:
  - docker

install:
  - echo "install nothing!" # put your normal pre-testing installs here

script:
  - echo "no tests!" # put your normal testing scripts here

after_success:
  - docker --version
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - export CLASS=`cat .class`
  - eval "$(aws ecr get-login --no-include-email --region us-east-1)"
  - docker build -t class-ecr-helpfulapp .
  - docker tag class-ecr-helpfulapp:latest 310090471142.dkr.ecr.us-east-1.amazonaws.com/helpfulapp:latest
  - docker push 310090471142.dkr.ecr.us-east-1.amazonaws.com/class-ecr-helpfulapp:latest
# sadly, travis doesn't cache docker builds yet, so each build will take a while
